@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@media (max-width:600px){
    #project2{
   float: left;
   margin-left: 10%;
}
.project-skills-container{
    position: relative;
   bottom: 53%;
    z-index: 10;
}
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    overflow-x: hidden;
}
:root{
  cursor: url('rocket.png'),crosshair;
}
.btn-pink {
  background-color: #e84949;
  width: fit-content;
  color: white;
  padding: 0.8rem 2.3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  position: relative;
  z-index: 1;
}

.btn-pink::before{
  content: "";
  position: absolute;
  background-color: black;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s ease;
}

.btn-pink:hover{
  color: #e84949;
  
}

.btn-pink:hover::before{
  transform: scaleX(1);
}

.project-section{
    background-color: #e7e6e6;
    padding-bottom: 100vh;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.project-skills-container{
    position: relative;
   bottom: 18em;
    z-index: 10;
}
.project-skill{
    height: 5vh;
    position: relative;
    z-index: 11;
    bottom: 50.5vh;
    left: 1em;
}

#project1{
    position: relative;
    z-index: 2;
    margin-top: 5em;
    margin-left: 10%;
    height: 40vh;
   box-sizing: border-box;
}
.project1BG{
     box-shadow: 0 0 15px 5px gray;
    
    height: 300px;
    position: relative;
    bottom: 360px;
    z-index: 1;
}
.project-number{
    color: rgb(168, 166, 165);
    font-size: 3em;
    position: relative;
    z-index: 10;
    left: -1em;
    bottom: 1em;
    
}
.project1-info{
    color: rgb(247, 246, 244);
    opacity: 0;
}
.project1-info:hover{
    opacity: 1;
}
.projectcard1hovercolor {
  
  color: white;
  opacity: 0;
  position: relative;
    padding-top: 2.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
  z-index: 9;
  width: 32.6%;
  bottom: 3.8em;
  height: 41vh;
  background-size: contain;
  transform-origin: left;
  background-color: transparent;
  transition: background-color 0.4s ease; /* smooth base transition */
}
pre{
    font-size: 3em;
}
.projectcard1hovercolor:hover {
  animation: top 1s ease forwards;
}

.projectcard1hovercolor:not(:hover) {
  animation: none; /* reset when cursor leaves */
}

@keyframes top {
  0% {
    transform: scaleX(.7);
    background-color: transparent;
    opacity: 0;
  }
   

  100% {
    transform: scaleX(1);
    background-color: #525253;
    opacity: 0.5;
  }


}
#btn-grp1{
    position: relative;
    bottom: 63vh;
    left: 1rem;
    z-index: 10;
}
#project2{
    position: relative;
    z-index: 2;
    float:right;
    margin-top: 5em;
   right: 10%;
    height: 40vh;
   box-sizing: border-box;
}
.project2-info{
    color: rgb(247, 246, 244);
    opacity: 0;
}
.project2-info:hover{
    opacity: 1;
}
.projectcard2hovercolor {
  
  color: white;
  opacity: 0;
  position: relative;
    padding-top: 2.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
  z-index: 9;
  width: 100%;
  bottom: 3.7em;
  height: 41vh;
  background-size: contain;
  transform-origin: left;
  background-color: transparent;
  transition: background-color 0.4s ease; /* smooth base transition */
}
pre{
    font-size: 3em;
}
.projectcard2hovercolor:hover {
  animation: top 1s ease forwards;
}

.projectcard2hovercolor:not(:hover) {
  animation: none; /* reset when cursor leaves */
}

@keyframes top {
  0% {
    transform: scaleX(.7);
    background-color: transparent;
    opacity: 0;
  }
   

  100% {
    transform: scaleX(1);
    background-color: #525253;
    opacity: 0.5;
  }
}
.project2BG{
     box-shadow: 0 0 15px 5px gray;
    box-sizing: border-box;
    height: 300px;
    position: relative;
    bottom: 360px;
    z-index: 1;
}
#btn-grp2{
    position: relative;
    bottom: 61.5vh;
    left: 1rem;
    z-index: 10;
}

.page-header{
    color: #525253;
    font-size: 3em;
    
   padding: 1.2em;
}
.top{
    flex-wrap: wrap;
    align-items: center;
    display: flex;
   gap: 60%;
}
.home{
    color: #525253;
    font-size: 1em;
   padding: 1.2em;
}
.home {
  background-color: #e84949;
  width: fit-content;
  color: white;
  padding: 0.8rem 2.3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  position: relative;
  z-index: 1;
  margin-left: 2%;
}

.home::before{
  content: "";
  position: absolute;
  background-color: black;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s ease;
}

.home:hover{
  color: #e84949;
  
}

.home:hover::before{
  transform: scaleX(1);
}
a{
    text-decoration: none;
    color: white;
}