:root{
  cursor: url('rocket.png'),crosshair;
}
.page-header{
    color: #525253;
    font-size: 3em;
    
   padding: 1.2em;
}
.top{
    flex-wrap: wrap;
    align-items: center;
    display: flex;
   gap: 60%;
}
.home{
    color: #525253;
    font-size: 1em;
   padding: 1.2em;
}
.home {
  background-color: #e84949;
  width: fit-content;
  color: white;
  padding: 0.8rem 2.3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  position: relative;
  z-index: 1;
  margin-left: 2%;
}

.home::before{
  content: "";
  position: absolute;
  background-color: black;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s ease;
}

.home:hover{
  color: #e84949;
  
}

.home:hover::before{
  transform: scaleX(1);
}
.skill-container{
    margin-left: 3.3%;
    display: flex;
    gap: 2%;

}
.skill{
    height: 50px;
    
}
a{
    text-decoration: none;
    color: white;
}